<div class="login">
	<h1>LOG IN</h1>
	<form action="/login" method="POST">
		<input type="text" name="username" placeholder="username">
		<!-- <input type="text" name="email" placeholder="email"> -->
		<input type="password" name="password" placeholder="password">
		<button type="sub">Log in</button>
	</form>

	<a href="/auth/facebook"><button class="fb"><i class="fa fa-facebook fa-lg"></i> Log in with Facebook</button></a>
	<a href="/auth/google"><button class="google"><i class="fa fa-google-plus fa-lg"></i> Log in with Google</button></a>
</div>

<% if (typeof(errorMessage) !== "undefined") { %>
  <div class="error-message"><%= errorMessage %></div>
<% } %>
