<div class="signup">
  <h1>SIGN UP</h1>
  <form action="">
    <input type="text" name="username" placeholder="username">
    <input type="text" name="email" placeholder="email">
    <input type="password" name="password" placeholder="password">
  </form>
  <a href="/search"><button>Create Account</button></a>
  <a href="#"><button class="fb"><i class="fa fa-facebook fa-lg"></i> Sign up with Facebook</button></a>
  <a href="#"><button class="google"><i class="fa fa-google-plus fa-lg"></i> Sign up with Google</button></a>
</div>
