<div class="container-fluid profile">
  <div class="row">
    <div class="col-sm-12">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-4">
      <a href="/profile/route"><h2>Routes</h2></a>
    </div>
    <div class="col-sm-4">
      <a href="/profile/farm"><h2>Farms</h2></a>
    </div>
    <div class="col-sm-4">
      <h2 class="active">Account</h2>
    </div>
  </div>
  <div class="row profile-content">
    <div class="col-sm-12">
      <p>DEFAULT COUNTRY</p>
      <p>CHANGE USERNAME</p>
      <p>CHANGE EMAIL</p>
      <p>CHANGE PASSWORD</p>
    </div>
  </div>
</div>
