<div class="container-fluid profile">
  <div class="row">
    <div class="col-sm-12">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="row profile-headers">
    <div class="col-xs-4">
      <a href="/profile/route"><h2>Routes</h2></a>
    </div>
    <div class="col-xs-4">
      <h2 class="active">Farms</h2>
    </div>
    <div class="col-xs-4">
      <a href="/profile/account"><h2>Account</h2></a>
    </div>
  </div>
  <div class="row profile-content">
    <div class="col-sm-12">
       <h3>Saved Places <%= user.username %></h3>
      
      <% if (places.length > 0) { %>
        <% places.forEach(function(place, i) { %>
          <div class="">
        
            <ul>
              <li><%= i %> - <%= place.namePlace %></li>
            </ul>

        <% }) %>
        <% } else { %>
        <div class="">
          <p><%= user.username %> hasn't places yet.</p>
        </div>
      <% } %>

    </div>
  </div>
</div>
</div>
