<div class="container-fluid profile">
  <div class="row">
    <div class="col-sm-12">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="row profile-headers">
    <div class="col-xs-4">
      <a href="/profile/route"><h2>Routes</h2></a>
    </div>
    <div class="col-xs-4">
      <h2 class="active">Farms</h2>
    </div>
    <div class="col-xs-4">
      <a href="/profile/account"><h2>Account</h2></a>
    </div>
  </div>
  <div class="row profile-content">
    <div class="col-sm-12">
      <div class="farm-card">
        <h3>Place Name</h3>
        <p class="created">Created: </p>
        <p>Address: </p>
        <p>Phone: </p>
        <p>Website: </p>
        <button>See on Map</button>
      </div>

    <% if (user.places.length > 0) { %>
      <h3>you have a saved farm</h3>
      <% for (let i=0; i < user.places.length; i++) { %>
            <div>
            <h2><%= user.places[i] %></h2>
            </div>
      <% } %>
    <% } else { %>
      <p>you have no saved farms</p>
    <% } %>

    </div>
  </div>
</div>
