
<div class="container-fluid profile">
  <div class="row">
    <div class="col-sm-12">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="row profile-headers">
    <div class="col-xs-4">
      <a href="/profile/route"><h2>Routes</h2></a>
    </div>
    <div class="col-xs-4">
      <h2 class="active">Farms</h2>
    </div>
    <div class="col-xs-4">
      <a href="/profile/account"><h2>Account</h2></a>
    </div>
  </div>
  <div class="row profile-content">
    <div class="col-sm-12">
      <p>SAVED FARM 1</p>
      <p>SAVED FARM 2</p>

    </div>
  </div>
</div>

