<div class="container-fluid profile">
  <div class="row">
    <div class="col-sm-12">
      <h1>Profile</h1>
    </div>
  </div>
  <div class="row profile-headers">
    <div class="col-xs-4">
      <h2 class="active">Routes</h2>
    </div>
    <div class="col-xs-4">
      <a href="/profile/farm"><h2>Farms</h2></a>
    </div>
    <div class="col-xs-4">
      <a href="/profile/account"><h2>Account</h2></a>
    </div>
  </div>
  <div class="row profile-content">
    <div class="col-sm-12">
      <div class="route-card">
        <h3>Route Name</h3>
        <p class="created">Created: </p>
        <p>Country: </p>
        <p>Start: </p>
        <p>Destination: </p>
        <p>Category: </p>
        <p>Destination: </p>
        <p>Product: </p>
        <button>See on Map</button>
      </div>
  <div>

  </div>

  <% if (user.places.length > 0) { %>
    <h3>you have a saved route</h3>
    <% for (let i=0; i < user.routes.length; i++) { %>
          <div>
          <h2><%= user.routes[i] %></h2>
          </div>
    <% } %>
  <% } else { %>
    <p>you have no saved routes</p>
  <% } %>



    </div>
  </div>
</div>
