<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
index from guest user

<ul>
	<li><a href="/">Index</a></li>
	<br>
	<li><a href="farmMap">Farm Map</a></li>
	<br>
	<li><a href="main">Main</a></li>
	<br>
	<li><a href="profile/account">Account</a></li>
	<li><a href="profile/route">Route</a></li>
	<li><a href="profile/farm">Farm</a><strong> -> private route</strong></li> 
	<br>
	<li><a href="login">Login</a></li>
	<li><a href="signup">Sign Up</a></li>
</ul>
