<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
index from guest user

<ul>
	<li><a href="/">Index</a></li>
	<li><a href="farmMap">farmMap</a></li>
	<li><a href="main">main</a></li>
	<li><a href="profile/account">account</a></li>
	<li><a href="profile/route">route</a></li>
</ul>
