
<div class="home">
	<div class="headings">
		<img src="images/no border.svg" alt="Farm Voyage Logo" class="img-responsive logo">
		<h1><%= title %></h1>
		<h2>Find local farms, vineyards, ecolodges before you plan your next roadtrip </h2>
	</div>
	<a href="/main"><button class="get-started">Get stared</button></a>
	<!-- <div class="logins">
		<a href="signup">sign up</a> <span> | </span>
		<a href="login">log in</a>
	</div> -->
</div>

