<<<<<<< HEAD
<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<h1>SEARCH</h1>
=======
<div class="container-fluid main">
  <div class="row">
    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 main-content collapse-in" id="search-menu">
    <form action="/maps/save/route" method="post">
        <div class="search-filters">
        <select class="form-control" id="country">
            <option disabled selected hidden value="all">country</option>
            <option id="italy-select" value="it">Italy</option>
            <option id="spain-select" value="es">Spain</option>
            <option id="france-select" value="fr">France</option>
          </select>
          <input type="text" name="starting" id="starting" placeholder="starting point" class="form-control">
          <input type="text" name="destination" id="destination" placeholder="destination" class="form-control">
          <input type="number" name="search-radius" id="distance" min="1" value="1" class="form-control radius"><span>km from route</span>
          <select class="form-control" id="type" name="type">
            <option value="" disabled selected hidden>type</option>
            <option class="italy-op"  value="food">Food IT</option>
            <option class="italy-op"  value="point_of_interest">Point of Interest IT</option>
            <option class="italy-op"  value="lodging">Lodging 3 IT</option>
            <option class="spain-op"  value="">Sample 1 ES</option>
            <option class="spain-op"  value="">Sample 2 ES</option>
            <option class="spain-op"  value="">Sample 3 ES</option>
            <option class="france-op" value="">Sample 1 FR</option>
            <option class="france-op" value="">Sample 2 FR</option>
            <option class="france-op" value="">Sample 3 FR</option>
          </select>
          <select class="form-control" id="keyword" name="keyword">
            <option value="" disabled selected hidden>keyword</option>
            <option class="italy-op" value="agriturismo">Agriturismo 1 IT</option>
            <option class="italy-op" value="fattoria">Fattoria 2 IT</option>
            <option class="italy-op" value="azienda vinicola">Azi Vinicola IT</option>
            <option class="spain-op" value="">Sample 1 ES</option>
            <option class="spain-op" value="">Sample 2 ES</option>
            <option class="spain-op" value="">Sample 3 ES</option>
            <option class="france-op" value="">Sample 1 FR</option>
            <option class="france-op" value="">Sample 2 FR</option>
            <option class="france-op" value="">Sample 3 FR</option>
          </select>
          <select class="form-control" id="name" name="name">
            <option value="" disabled selected hidden>name</option>
            <option class="italy-op" value="olio">Olio 1 IT</option>
            <option class="italy-op" value="vino">Vino 2 IT</option>
            <option class="italy-op" value="miele">Miele IT</option>
          </select>
          <button id="get_route">Search</button>
        </div>

        <% if (userSignedIn) { %>
        <div class="save-route">
          
            <input type="text" name="nameRoute" placeholder="route name" id="route-name">
            <button id="save_route" type="submit">Save Route</button>
          
        <% } else { %>
          <div class="save-route">
              <p id="signin-route">Sign in to Save Route</p>
              <button type="submit" id="disabled"><a href="/login">Save Route</a></button>
        <% } %>
        </div>
      </div>
      </form>



      <!-- need search button outside form -->
      
      
      <!--  my form is hidden by your f**g navbar-->
      <br>
      <!-- save place form, this get only the last result -->
      <form action="/maps/save/place" method="post">
        <input type="text" id="latitude" name="latitude" value="">
        <input type="text" id="longitude" name="longitude" value="">
        <input type="text" id="namePlace" name="namePlace" value="">
        <button type="submit">Save Place</button>
      </form>  

    <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9"  id="map-contain">
      <div id="map"></div>
    </div>
        </div>
  </div>
</div>
>>>>>>> master
