@import 'responsive-font-size';

$primary-color: #d99728;
$accent-color: #9CC871;
$main-text-color: #6c6c6c;
$secondary-text-color: #000;
$heading-font: Arial;
$body-font: Arial;
$bold-font: 600;

.logo-small {
	max-height: 4vh;
	position: absolute;
	bottom: 12px;
	left: -78px;
}

.ghost {
	margin-top: 15px;
	margin-right: 8px;
	float: left;
	background-color: transparent;
	border: none;
	color: $primary-color;
}

.ghost2 {
	display: none;
}

@media (max-width: 765px) {
	.ghost2 {
		display: inline;
		float: right;
		margin-top: 15px;
		margin-right: 8px;
		background-color: transparent;
		border: none;
		color: $primary-color;
	}
	.ghost {
		display: none;
	}
}

* {
	box-sizing: border-box;
	font-family: 'Josefin Sans', sans-serif;
}

#disabled {
	background-color: $primary-color * .6;
}

#map {
	width: auto;
	margin: 0;
	height: 93vh;
}

.navbar {
 -webkit-box-shadow: 0 8px 6px -6px #999;
 -moz-box-shadow: 0 8px 6px -6px #999;
  box-shadow: 0 8px 6px -6px #999;
	padding: 7px 2vw 5px 3vw;
	background-color: white;
	.navbar-brand {
		text-transform: uppercase;
		position: relative;
	}
	.navbar-toggle {
		span {
			background-color: $primary-color;
		}
	}
	a {
		color: $primary-color;
		@include responsive-font-size (1.4em, 1.5em, 640px, 1200px, 0.5em);
	}
}

.home {
	text-align: center;
	margin: 0 auto;
	h1 {
		@include responsive-font-size (3em, 8em, 640px, 1200px, 0.5em);
		// margin-top: 30vh;
		color: $primary-color;
		text-transform: uppercase;
	}
	h2 {
		@include responsive-font-size (.5em, 2em, 640px, 1200px, 0.5em);
		color: $main-text-color;
		max-width: 800px;
		margin: 0 auto;
		}
	.logins {	.logo {
		max-height: 25vh;
		margin-top: 15vh;
		margin-bottom: 3vh;
	}
		span {
			padding: 20px;
			@include responsive-font-size (.5em, 1.7em, 640px, 1200px, 0.5em);
		}
		a {
		} & :hover {
			color: black;
		}
	}
	a, span {
		color: $main-text-color;
		@include responsive-font-size (.5em, 1.5em, 640px, 1200px, 0.5em);
		text-decoration: none;
		& :hover {
			text-decoration: none;
			background-color: $primary-color * .8;
		}
		button {
			background-color: $primary-color;
			@include responsive-font-size (1em, 1.5em, 640px, 1200px, 0.5em);
			color: white;
			border: none;
			padding: 10px 40px;
			text-transform: uppercase;
			font-weight: $bold-font;
			border-radius: 100px;
			display: block;
			margin: 0 auto;
			margin-top: 10vh;
			margin-bottom: 20vh;
			}
	}
	.logo {
		max-height: 25vh;
		margin-top: 15vh;
		margin-bottom: 3vh;
	}
}

.signup {
	text-align: center;
	margin: 0 auto;
	margin-top: 15vh;
	.input {
		margin: 0 auto;
		max-width: 600px;
	}
	a {
		max-width: 320px;
	}
	& :hover {
		text-decoration: none;
	}
	h1 {
		@include responsive-font-size (3em, 6em, 640px, 1200px, 0.5em);
		margin-top: 10vh;
		margin-bottom: 8vh;
		color: $primary-color;
	}
	form {
		input {
			display: block;
			margin: 0 auto;
			border-radius: 100px;
			border: .5px solid $main-text-color * .9;
			padding: 8px 50px;
			text-align: center;
			margin-bottom: 3vh;
		}
	}
	button {
		margin: 0 auto;
		margin-top: 20px;
		background-color: $primary-color;
		@include responsive-font-size (.9em, 1.25em, 640px, 1200px, 0.5em);
		display: block;
		color: white;
		border: none;
		padding: 15px 40px;
		border-radius: 100px;
		font-weight: $bold-font;
		text-transform: uppercase;
		&:hover {
			background-color: $primary-color * .8;
		}
	}	.image-bar {
		max-width: 600px;
	}
	.fb {
		background-color: #3b5998;
		color: white;
		border: none;
		padding: 15px 30px;
		border-radius: 100px;
		font-weight: $bold-font;
		text-transform: uppercase;
		margin-top: 10vh;
		&:hover {
			background-color: #3b5998 * .8;
		}
		i {
			margin-right: 10px;
		}
	}
	.google {
		background-color: #dd4b39;
		color: white;
		border: none;
		padding: 15px 30px;
		border-radius: 100px;
		font-weight: $bold-font;
		text-transform: uppercase;
		&:hover {
			background-color: #dd4b39 * .8;
		}
		i {
			margin-right: 10px;
		}
	}
}

.login {
	text-align: center;
	margin: 0 auto;
	margin-top: 15vh;
	a {

	}
	& :hover {
		text-decoration: none;
	}
	h1 {
		@include responsive-font-size (3em, 6em, 640px, 1200px, 0.5em);
		margin-top: 10vh;
		margin-bottom: 8vh;
		color: $primary-color;
	}
	form {
		input {
			display: block;
			margin: 0 auto;
			border-radius: 100px;
			border: .5px solid $main-text-color * .9;
			padding: 8px 50px;
			text-align: center;
			margin-bottom: 3vh;
		}
	}
	button {
		margin: 0 auto;
		margin-top: 20px;
		background-color: $primary-color;
		@include responsive-font-size (.5em, 1.2em, 375px, 1200px, 0.5em);
		display: block;
		color: white;
		border: none;
		padding: 15px 40px;
		border-radius: 100px;
		font-weight: $bold-font;
		text-transform: uppercase;
		&:hover {
			background-color: $primary-color * .8;
		}
	}
	.fb {
		background-color: #3b5998;
		color: white;
		border: none;
		padding: 15px 30px;
		border-radius: 100px;
		font-weight: $bold-font;
		text-transform: uppercase;
		margin-top: 10vh;
		&:hover {
			background-color: #3b5998 * .8;
		}
		i {
			margin-right: 10px;
		}
	}
	.google {
		background-color: #dd4b39;
		color: white;
		border: none;
		padding: 15px 30px;
		border-radius: 100px;
		font-weight: $bold-font;
		text-transform: uppercase;
		&:hover {
			background-color: #dd4b39 * .8;
		}
		i {
			margin-right: 10px;
		}
	}
}

.main {
	margin-top: 7vh;
	#map-contain {
		padding: 0;
		height: 93vh;
	}
	.main-content {
	 -webkit-box-shadow: 2px 0 5px -2px #999;
		box-shadow: 2px 0 5px -2px #999;
		z-index: 1;
		height: 93vh;
		text-align: center;
		.search-filters {
			margin-top: 5vh;
			input, select {
				text-align: center;
				margin: 0 auto;
				margin-bottom: 20px;
				text-align: left;
				color: $main-text-color;
			}
	}
	#search-collapse {
		margin-top: 3.5vh;
	}
	#route-name {
		border: none;
		border-bottom: .5px solid $main-text-color;
		margin: 0 auto;
		margin-top: 20vh;
		margin-bottom: 2vh;
		display: block;
	}
	#signin-route {
		border: none;
		margin: 0 auto;
		margin-top: 28vh;
		margin-bottom: 2vh;
		display: block;
	}
	button {
		background-color: $primary-color;
		color: white;
		border: none;
		border-radius: none;
		padding: 5px 20px;
		text-transform: uppercase;
		font-weight: $bold-font;
		a {
			color: white;
			&:hover {
				text-decoration: none;
			}
		}
	}
	.radius {
		max-width: 70px;
		display: inline;
	}
	span {
		margin-left: 5%;
	}
}
}

.profile {
	margin: 0 auto;
	margin-top: 7vh;
	color: $main-text-color;
	.profile-content {
		margin-top: 5vh;
	}
	.profile-headers {
		h2 {
		@include responsive-font-size (.45em, 2em, 320px, 1200px, 0.5em);
	}
	}
	div {
		margin: 0 auto;
		text-align: center;
		a {
			text-decoration: none;
			color: $main-text-color;
			&:hover {
				color: black;
			}
		}
		h1 {
			margin-top: 8vh;
			text-transform: uppercase;
		}
		h2 {
			margin-top: 8vh;
			text-transform: uppercase;
			padding: 5px 10px;
			}
		.active {
			background-color: $primary-color;
			font-weight: $bold-font;
			color: white;
			padding: 5px 10px;
			border-radius: 100px;
		}
	}
}
